<div *ngIf="cart.length==0">
    <p class="alert alert-danger w-50 m-auto my-3 text-center">No Items</p>
</div> 
<div class="container" *ngIf="cart.length>0">
    <div class="items">
        <div class="item" *ngFor="let item of cart;let i=index">
            <div class="image">
                <img src="{{item.url}}">
            </div>
            <div class="details">
                <p>{{item?.name}}</p>
                <p>{{item?.price|currency}}</p>
                <label for="amount">Amount</label>
                <input type="number" id="amount" min="1" class="form-control" (focus)="prevnum($event)" [(ngModel)]="item.numberOfItem" (ngModelChange)="changetotalprice(i,$event)"/>
            </div>
            <button class="close" (click)="alert(i)"><span class="fa-solid fa-xmark"></span></button>
        </div>
        <div class="price">
            <p>Toltal Price <span>{{totalPrice|currency}}</span></p>
        </div>
    </div>
    <div class="form">
        <app-cartform [totalPrice]="totalPrice"></app-cartform>
    </div>
</div>
<app-alert *ngIf="flag" [type]="changetype" [data]="cartitem" (answer)="changeitem($event)"></app-alert>

