.container{
    width: 80%;
    display: flex;
}
.items{
    width: 50%;
}
.item{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem auto;
    padding: 0.5rem 0;
    position: relative;
    background-color: rgba(128, 128, 128, 0.285);

}
.image{
    width: 50%;
}
.image img {
    width: 150px;
    height: 200px;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}
.details{
    width: 40%;
}
.details p,label{
    font-weight: 900;
}
.form{
    width: 50%;
}

.price{
    font-weight: 900;
    text-align: center;
}
.close{
    position: absolute;
    top:0;
    left: 0;
    color: red;
    background-color: transparent;
    outline: none;
    border: none;
}